
body {
    * {
        box-sizing: border-box;
    }

    .-f {
        border: 1px dashed blue;
    }

    .-fd {
        border: 1px dashed red;
    }

    .-afd-leaf {
        border: 2px solid red;
    }

    p {
        margin: 0px;
    }

    #idNote {
        width: 300px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
    }

    #idInfo {
        width: 300px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
    }

    #horizontal {
        width: 300px;
        height: 70px;

        .-list-item {
            width: 100px;
            height: 70px;
            background-color: white;
            font-size: 20px;
            color: black;
        }
    }

    #vertical {
        width: 300px;
        height: 300px;

        .-list-item {
            width: 300px;
            height: 70px;
            background-color: white;
            font-size: 20px;
            color: black;
        }
    }
}
